@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div ng-controller="TodosListController">
    <h1 class="page-header">
        <a class="btn btn-success btn-sm" ng-click="add()">Dodaj todo</a>
    </h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group-sm">
                <input type="text" class="form-control" style="width:100%; " placeholder="Search todo..." ng-model="searchProduct">
            </div>
        </div>
    </div>

    <div class="row" ng-init="init()">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>userId</th>
                        <th>id</th>
                        <th>title</th>
                        <th>completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in todos | filter : searchProduct" ng-click="open(todo.id)">
                        <td>{{todo.userId}}</td>
                        <td>{{todo.id}}</td>
                        <td>{{todo.title}}</td>
                        <td>{{todo.completed}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
